<!DOCTYPE html>

<!-- <div ng-model="user in UsersShow" class="userBackground">
  <img class="user" src="{{ usersIndex.currentUser.user.image }}">
</div> -->
<section class="section">
  <h2>Users</h2>

  <div>
    <input type="text" class="input is-primary" ng-model="usersIndex.q" placeholder="filter users by name..">
  </div>
</section>

<section class="section">

  <div class="columns is-multiline">
    <div ng-repeat="user in usersIndex.filtered" class="column is-half friendBlock" ng-if="user.id !== main.currentUser.id">
      <div class="userImage inlineBlock" ng-style="{'background-image':'url( {{ user.image }} )'}"></div>

        <p ng-if="usersIndex.isFriend(user)" class="button is-small is-primary is-outlined friend">You are Friends  <span>&#10004</span></p>
        <p ng-if="usersIndex.requested(user)" class="button is-small is-primary is-outlined friend">Requested!</p>
        <a ng-click="usersIndex.requestFriend(user)" ng-if="!usersIndex.isFriend(user) && !usersIndex.requested(user)" class="button is-small is-primary is-outlined">Add Friend</a>
      <p><strong>@: {{ user.username }}</strong></p>
      <p>{{ user.full_name }}</p>

      <h5><strong>Follow:</strong></h5>
      <p ng-repeat="friend in user.friends" class="inlineBlock">{{ friend.username }} * </p>


    </div>
  </div>

</section>
