<!DOCTYPE html>

<div class="section is-11 is-offset-1">
<div>
<h2>{{ usersShow.user.full_name }}</h2>
<div class="userBackground">
  <img class="userImage" src="{{ usersShow.user.image }}">
</div>
<div class="column">

  <h1>{{ usersShow.user.full_name }}</h1>
  <h1>{{ usersShow.user.username }}</h1>
  <h1 ng-if="usersShow.user.email != '[nil]'">{{ usersShow.user.email }}</h1>
  <button class="button is-small is-primary is-outlined" ui-sref="usersEdit({ id: usersShow.user.id })">Edit</button>
  <button class="button is-small is-danger is-outlined" ng-click="usersShow.delete()">Delete</button>
</div>

<div >
  <h2>(Friends): </h2>
  <h4 ng-if="usersShow.user.friends.length === 0">You currently have no friends</h4>
    <div>
      <div class="friendBlock centered" ng-repeat="friend in usersShow.user.friends">
        <h4 class="centered">{{ friend.username }}</h4>
        <img class="userImage" ng-src="{{ friend.image.url }}"><br>
        <a type="button" ng-click="usersShow.removed(friend)" class="button">Unfriend</a>
      </div>
    </div>

  <h2>(Requests):</h2>
  <h4 ng-if="usersShow.pending.length === 0">You currently have no pending friend requests</h4>
  <div>
      <div ng-repeat="pending in usersShow.pending">
        <h4>{{ pending.username }}</h4>
        <img class="userImage" ng-src="{{pending.image}}">
        <button ng-click="usersShow.accepted(pending)" class="button">Accept Friend Request</button>
        <button ng-click="usersShow.declined(pending)" class="button">Decline Friend Request</button>
      </div>
  </div>
</div>

</div>
</div>
