<!DOCTYPE html>




<div class="section grit">
  <div class="field grit">
    <div class="control">
      <input type="text" class="input grit" ng-model="homectrl.q" placeholder="Filter articles by description..">
    </div>
  </div>
  <div class="box" ng-repeat="article in homectrl.filtered">
    <article class="media">
      <div class="media-left">
        <figure class="image is-128x128">
          <img src="{{article.urlToImage}}" alt="image">
        </figure>
      </div>
      <div class="media-content">
        <div class="content">
          <p><strong>{{ article.title }}</strong> <a href="{{ article.url }}" target="_blank"><small class="hoverUnderline">{{ article.url }}</small></a> <small>{{ article.author }}</small><br>
            {{ article.description }}
          </p>
        </div>
        <nav class="level is-mobile">
          <div class="level-left">
            <!-- <a class="level-item">
              <span class="icon is-small"><i class="fa fa-reply"></i></span>
            </a> -->
            <a ng-click="homectrl.retweet(article)" class="level-item"><span class="icon"><i class="fa fa-retweet fa-3x"></i></span>
            </a>
            <a class="level-item"><span class="icon"><i class="fa fa-heart fa-3x"></i></span>
            </a>
          </div>
        </nav>
      </div>
    </article>
  </div>

<div class="box">
  <div class="button buttonFont is-primary" ng-click="homectrl.getArticle('bbc-news')">BBC </div>
  <div class="button is-primary" ng-click="homectrl.getArticle('buzzfeed')">Buzzfeed</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('daily-mail')">Daily Mail UK</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('financial-times')">Financial Times</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('espn')">E S P N</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('techcrunch')">Tech Crunch</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('the-new-york-times')">The New York Times</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('the-times-of-india')">The Times of India</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('die-zeit')">Die Zeit Weekly</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('engadget')">Engadget UK</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('hacker-news')">Hacker News</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('new-scientist')">New Scientist Europe</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('the-verge')">The Verge Tech</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('reddit-r-all')">Reddit</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('bbc-sport')">BBC Sport</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('fortune')">Fortune</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('metro')">Metro</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('recode')">Recode</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('the-huffington-post')">Huffington Post</div>
  <div class="button is-primary" ng-click="homectrl.getArticle('the-next-web')">The Next Web</div>
  </div>
</div>
