// Import all of your scss files here
@import "bulma/sass/utilities/initial-variables";
$primary: #4DD2E5;
@import "bulma/bulma";


* {
  font-family: 'Karla', sans-serif;
}

html,body {
  height: 100%;
}

body {

  .button.is-primary {
    background-color: #7fc1b2;
  }

  nav {
    h1 {
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 24px;
    }
    li {
      display: inline-block;
    }
  }

  .home {
    background-image: url('../images/homepage.jpg');
    background-size: cover;
    background-position: center;
    height: 610px;
  }
  h2 {
    font-size: 24px;
  }
  .image {
    margin: 20px auto;
  }
  .button {
    margin: 20px auto;
  }
  .sm {
    text-align: center;
  }
  .hero {
    margin: 10px auto;
    padding: 10px auto;
  }

  .about {
    // background-image: url('../images/about.png');
    background-size: cover;
    background-position: center;
    height: 610px;
  }
}

img {
  box-shadow: 0px 3px 10px #7fc1b2;
  }

.postNewImage {
    max-width: 200px;
  }

.postSource {
  font-size: 12px;
}

.box {
  box-shadow: 0px 3px 10px #7fc1b2;
}

.centered {
  text-align: center;
}
