// Import all of your scss files here
@import "bulma/sass/utilities/initial-variables";
$primary: #4DD2E5;
@import "bulma/bulma";

@font-face {
  font-family: 'F3D';
  src: url('/fonts/Frontage/F-3D.woff') format('woff'),
       url('/fonts/Frontage/F-3D.woff2') format('woff2'),
       url('/fonts/Frontage/F-3D.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.hideBox {
  display: none;
}

div.section {
  background-color: #eaf9f6;
}

section.section {
  background-color: #eaf9f6;

}

.backgroundColor {
  background-color: #eaf9f6;
}

* {
  font-family: 'Karla', sans-serif;
}

html,body {
  height: 100%;
}

body {

  .button.is-primary {
    background-color: #7fc1b2;
  }

  nav {

    h1 {
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 32px;
      font-family: 'F3D';
    }
    li {
      display: inline-block;
    }
  }

  .home {
    background-image: url('../images/homepage.jpg');
    background-size: cover;
    background-position: center;
    height: 610px;
  }
  h2 {
    font-size: 24px;
  }
  .image {
    margin: 20px auto;
  }
  .button {
    margin: 20px auto;
  }
  .sm {
    text-align: center;
  }
  .hero {
    margin: 10px auto;
    padding: 10px auto;
  }

  .about {
    // background-image: url('../images/about.png');
    background-size: cover;
    background-position: center;
    height: 610px;
  }

  .description {
    text-align: center;
  }
  .image {
    text-align: center;
  }
}

img {
  box-shadow: 0px 3px 10px #7fc1b2;
  max-width: 100%;

  }

.postNewImage {
    max-width: 200px;
  }

.postSource {
  font-size: 12px;
}

.box {
  box-shadow: 0px 3px 10px #7fc1b2;
}

.centered {
  text-align: center;
}

.userImage {
  display: inline-block;
  width: 110px;
  height: 120px;
  border-radius: 80%;
  margin: 8px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border: 5px solid #7fc1b2;
}

.userBackground {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url('https://images.unsplash.com/photo-1431263186120-72a7fefb3a50?dpr=1&amp;auto=format&amp;fit=crop&amp;w=1080&amp;h=720&amp;q=80&amp;cs=tinysrgb&amp;crop=');
  border: 5px solid white;
}

.friendBlock {
  max-width: 300px;
  display: inline-block;
  margin: 10px;
  margin-bottom: none;
  border: 1px solid #7fc1b2;
  max-height: 300px;
  border-radius: 3px;
  background-color: white;
}

.mediaText {
  font-size: 13px;
  float: left;
}

.floatRight{
  float: right;
  display: block;
}

.commentBlock {
  max-width: 300px;
  height: 40px;
}

.comment {
  border-radius: 4px;
}

.inlineBlock {
  display: inline-block;
}
