<!DOCTYPE html>

<section class="section softBorder">
  <div class="columns">
    <div class="column is-half is-offset-one-quarter">
      <form class="box" ng-submit="postsNew.create()" name="postsNew.postForm" novalidate>
        <h2>Post</h2>

        <p ng-if="postsNew.article">"{{ postsNew.article.title }}"</p><br>

        <div class="field">
          <p class="control">
            <label class="label" for="headline">Headline</label>
          </p>
          <input type="text" class="input" id="headline" name="headline" ng-model="postsNew.post.headline" required>
          <div ng-messages="postsNew.postForm.headline.$error" role="alert" ng-show="(postsNew.postForm.$submitted || postsNew.postForm.headline.$touched) && postsNew.postForm.headline.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>

        <div class="field" ng-if="!postsNew.article">
          <p class="control">
            <label class="label" for="src">Source</label>
          </p>
          <input type="text" class="input" id="src" name="src" ng-model="postsNew.post.src" required>
          <div ng-messages="postsNew.postForm.src.$error" role="alert" ng-show="(postsNew.postForm.$submitted || postsNew.postForm.src.$touched) && postsNew.postForm.src.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>

        <div class="field">
          <p class="control">
            <label class="label" for="categories">Categories</label>
          </p>
          <input type="text" class="input" id="categories" name="categories" ng-model="postsNew.post.categories" required>
          <div ng-messages="postsNew.postForm.categories.$error" role="alert" ng-show="(postsNew.postForm.$submitted || postsNew.postForm.categories.$touched) && postsNew.postForm.categories.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>


        <div class="field">
          <p class="control">
            <label class="label" for="description">Description</label>
          </p>
          <input type="text" class="input" id="description" name="description" ng-model="postsNew.post.description" required>
          <div ng-messages="postsNew.postForm.description.$error" role="alert" ng-show="(postsNew.postForm.$submitted || postsNew.postForm.description.$touched) && postsNew.postForm.description.$invalid" class="error">
            <div ng-message="required">Please enter a value for this field.</div>
          </div>
        </div>


        <div class="field buttonMargin postNewImage" ng-if="postsNew.article">
          <img class="buttonMargin" src="{{postsNew.article.urlToImage}}" alt="image">
        </div>
<!-- DRAG AND DROP IMAGE DIV GOES HERE -->
        <div ng-if="!postsNew.article">
          <drag-drop-img ng-model="postsNew.post.base64"></drag-drop-img>
        </div>

        <!-- <div class="form-group" ng-if="!postsNew.article">
          <label for="base64">Image</label>
          <input type="file" base64 name="base64" ng-model="postsNew.post.base64" id="base64" class="image">
        </div> -->

        <div class="field">
          <p class="control">
            <input type="submit" class="button is-primary is-fullwidth" value="Add">
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
